@page "/"

@* <div class="header">
    <div class="overlay">
        <h6 class="subtitle">Smarter Test Creation</h6>
        <h1 class="title">AI Generated Tests</h1>
        <div class="buttons text-center">
            <a href="/test" class="btn btn-primary rounded w-lg btn-lg my-1">Test Models</a>
        </div>
    </div>
</div> *@

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Header -->
    <header class="header">
        <div class="overlay2">
            <h6 class="subtitle subtitle2">Smarter Test Creation</h6>
            <h1 class="title title2">AI Generated Tests</h1>
            <div class="buttons text-center">
                <a href="/quizzes" class="btn btn-primary rounded w-lg btn-lg m-1">Try Tests</a>
                <a href="/test" class="btn btn-primary rounded w-lg btn-lg m-1">Test Models</a>
            </div>
        </div>
    </header>
    <!-- End Of Page Header -->
    <!-- Box -->
    <div class="box text-center">
        <div class="box-item">
            <i class="ti-vector"></i>
            <h6 class="box-title">AIGRADE</h6>
            <p>Power Up Your Teaching or Learning with AI-Generated Tests</p>
        </div>
    </div>
    <!-- End of Box -->
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="assets/imgs/ai-generated-tests-robot.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page" class="w-100 img-thumbnail mb-3">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">About</h6>
                    <h6 class="section-title mb-3">AI Generated Tests for Education</h6>
                    <p>
                        AI-generated tests for education are revolutionizing the way students learn and teachers evaluate their progress. These innovative test-creation tools leverage the power of large language models, such as Mistral 7B, LLaMA 7B, and Gemma, to generate tailored assessments that cater to the unique needs of each learner. By harnessing the capabilities of these advanced models, educators can now create engaging, challenging, and insightful tests that provide valuable feedback to both students and teachers, ultimately enhancing the overall learning experience.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->
    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-subtitle" style="color: white">Benefits for Learning</h6>
            <div class="box text-center">
                <div class="box-item" style="color: black">
                    <i class="ti-vector"></i>
                    <h6 class="box-title">Immediate Feedback</h6>
                    <p>With AI-powered tests, students can receive instant feedback on their performance, identifying their strengths and weaknesses. This real-time information empowers students to take immediate action, adjusting their study strategies and focusing on areas that require more attention.</p>
                </div>
                <div class="box-item" style="color: black">
                    <i class="ti-filter"></i>
                    <h6 class="box-title">Personalized Assessments</h6>
                    <p>AI-generated tests can be customized to the individual student's level of understanding, learning style, and areas of interest. This personalized approach ensures that each assessment targets the specific skills and knowledge that the student needs to develop, allowing for more effective and efficient learning.</p>
                </div>
                <div class="box-item" style="color: black">
                    <i class="ti-mobile"></i>
                    <h6 class="box-title">Adaptive Learning</h6>
                    <p>AI-generated tests can adapt to the student's progress, becoming more challenging as the student demonstrates mastery of the material. This adaptive approach keeps students engaged and motivated, encouraging them to continuously stretch their capabilities and achieve their full potential.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="has-bg-img py-md" style="background-color:white">
        <div class="container text-center">
            <h6 class="section-subtitle" style="color: black">Benefits for Teaching</h6>
            <div class="box text-center">
                <div class="box-item black-box">
                    <i class="ti-vector"></i>
                    <h6 class="box-title">Time-Saving</h6>
                    <p>AI-generated tests can significantly reduce the time and effort required for teachers to create high-quality assessments. By automating the test-generation process, teachers can devote more time to supporting student learning and providing personalized guidance.</p>
                </div>

                <div class="box-item black-box">
                    <i class="ti-mobile"></i>
                    <h6 class="box-title">Test Diversity</h6>
                    <p>AI-generated tests can provide a wide variety of question types and formats, keeping students engaged and challenged. This diversity helps teachers assess different cognitive skills and learning objectives, providing a more comprehensive evaluation of student understanding.</p>
                </div>

                <div class="box-item black-box">
                    <i class="ti-filter"></i>
                    <h6 class="box-title">Objective Evaluation</h6>
                    <p>AI-powered tests can provide unbiased and consistent evaluation of student performance, reducing the potential for human error or subjectivity. This helps teachers make more informed decisions about student progress and identify areas where additional support is needed.</p>
                </div>
            </div>
        </div>
    </section>
  

    <section class="just-img-div">
        <img class="just-img" src="assets/imgs/info-2.png" />
    </section>


    <section class="has-bg-img py-0">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="assets/imgs/logo-w.png" alt="Logo">
                                <h6>AIGRADE</h6>
                            </a>
                            <p class="mt-3">
                                Copyright 2024 &copy; 
                            </p>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">USEFUL LINKS</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="">Home</a>
                                    <a href="/test">Testing models</a>
                                </div>
@*                                 <div class="col">
                                    <a href="#team">Team</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#">Faq</a>
                                    <a href="#">Privacy Policy</a>
                                </div> *@
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p>Contact me:</p>
                            <p>
                                <i class="ti-email"></i>AI.GRADE.info@gmail.com
                            </p>
@*                             <div class="social-links">
                                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                            </div> *@
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>